<% if @range == 'User' %>
  <table class="table table-hover">
  <h2>Users search for "<%= @word %>"</h2>
    <thead>
      <tr>
        <th>Image<th>
        <th>Name</th>
        <th colspan="3"></th>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <table class="table table-hover">
  <h2>Books search for "<%= @word %>"</h2>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= link_to user_path(book.user) do %>
        <%= image_tag book.user.get_profile_image, size: '50x50' %>
        <% end %>
        </td>
        <td><%= link_to book.title,book %></td>
        <td><%= book.body %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


